<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <settings>
  <setting name="cacheEnabled" value="false" />
  <setting name="useGeneratedKeys" value="true" />
   <setting name="defaultExecutorType" value="REUSE" /> 
  <!--<setting name="defaultExecutorType" value="BATCH" />-->
 </settings>  
 <mappers>   
  <mapper resource="../sqlMap/SupportMapper.xml"/>
  <mapper resource="../sqlMap/ChargeMapper.xml"/>
  <mapper resource="../sqlMap/MemberMapper.xml"/>
  <mapper resource="../sqlMap/AdminMapper.xml"/>
  <mapper resource="../sqlMap/TrafficMapper.xml"/>
</mappers>  
</configuration>                   
  